* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: url('bcg.jpg');
}

.box {
	padding: 10px;
	display: grid;
	height: 700px;
	width: 500px;
	gap: 1px;
	background: linear-gradient(320deg, rgb(233, 102, 102), rgb(104, 104, 230));
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 30px, 1fr, 1fr, 1fr, 1fr;
	box-shadow: 3px 3px 20px rgb(88, 88, 88);
	position: relative;
}

input {
	font-family: 'Electrolize', sans-serif;
	/* font-family: 'Quantico', sans-serif; */
	padding-right: 15px;
	margin: 10px 10px;
	grid-column: span 4;
	border-radius: 10px;
	border: 3px inset rgb(216, 228, 216);
	background-color: rgb(20, 20, 19);
	font-size: 40px;
	text-align: right;
	color: rgb(37, 209, 37);
}

.btn {
	font-family: 'Electrolize', sans-serif;
	/* font-family: 'Teko', sans-serif; */
	font-weight: 600;
	margin: 10px 12px;
	font-size: 30px;
	background: linear-gradient(to right, rgb(222, 224, 222), rgba(214, 211, 211, 0.5));
	border-radius: 10px;
	box-shadow: -4px 3px 0px 5px rgb(61, 59, 59, 0.5), 3px 4px 5px 5px rgba(48, 47, 47, 0.5);
	cursor: pointer;
	border: 0px;
	transition: 0.3s;
}

.btn:hover {
	box-shadow: -2px 2px 0px 2px rgb(61, 59, 59, 0.5);
	transform: translate(-1px, 1px);
	filter: brightness(1.3);
}

.plus {
	grid-column-start: 4;
	grid-row-start: 4;
}

.equal {
	grid-column-start: 4;
	grid-row-start: 5;
	grid-row-end: 7;
	background: rgb(143, 231, 231);
}

.minus {
	grid-column-start: 4;
	grid-row-start: 3;
	grid-row-end: 4;
}

.clear {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	background: rgb(238, 171, 171);
}

.back {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

.zero {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 6;
	grid-row-end: 7;
}
